@model Groepsreizen_team_tet.ViewModels.AccountViewModels.AccountViewModel

<h2>Account</h2>

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-info">
        @TempData["SuccessMessage"]
    </div>
}

<table class="table table-bordered">
    <tr>
        <th>Email</th>
        <td>@Model.Email</td>
    </tr>
    <tr>
        <th>Naam</th>
        <td>@Model.Naam</td>
    </tr>
    <tr>
        <th>Voornaam</th>
        <td>@Model.Voornaam</td>
    </tr>
    <tr>
        <th>Straat</th>
        <td>@Model.Straat</td>
    </tr>
    <tr>
        <th>Huisnummer</th>
        <td>@Model.Huisnummer</td>
    </tr>
    <tr>
        <th>Gemeente</th>
        <td>@Model.Gemeente</td>
    </tr>
    <tr>
        <th>Postcode</th>
        <td>@Model.Postcode</td>
    </tr>
    <tr>
        <th>Telefoonnummer</th>
        <td>@Model.Telefoonnummer</td>
    </tr>
    <tr>
        <th>Geboortedatum</th>
        <td>@Model.Geboortedatum.ToShortDateString()</td>
    </tr>
    <tr>
        <th>Huisdokter</th>
        <td>@Model.Huisdokter</td>
    </tr>
    <tr>
        <th>Contractnummer</th>
        <td>@Model.ContractNummer</td>
    </tr>
    <tr>
        <th>Rekeningnummer</th>
        <td>@Model.RekeningNummer</td>
    </tr>
</table>

<div class="mt-3">
    <a asp-action="Edit" class="btn btn-darkblue">Bewerken</a>
    <a asp-action="Delete" class="btn btn-danger">Account Verwijderen</a>
</div>



