@model Opleiding

@{
    ViewData["Title"] = "Opleiding Verwijderen";
}

<h2>Opleiding verwijderen: @Model.Naam</h2>

<p>Weet je zeker dat je de opleiding "@Model.Naam" wilt verwijderen?</p>

<div>
    <h5>Details Opleiding</h5>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Naam</dt>
        <dd class="col-sm-10">@Model.Naam</dd>
        <dt class="col-sm-2">Locatie</dt>
        <dd class="col-sm-10">@Model.Locatie</dd>
        <dt class="col-sm-2">Beschrijving</dt>
        <dd class="col-sm-10">@Model.Beschrijving</dd>
        <dt class="col-sm-2">Begindatum</dt>
        <dd class="col-sm-10">@Model.Begindatum.ToString("dd-MM-yyyy")</dd>
        <dt class="col-sm-2">Einddatum</dt>
        <dd class="col-sm-10">@Model.Einddatum.ToString("dd-MM-yyyy")</dd>
    </dl>
</div>

<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="Id" />
    <div class="form-group">
        <input type="submit" value="Verwijderen" class="btn btn-danger" />
        <a asp-action="Beheer" class="btn btn-secondary">Annuleren</a>
    </div>
</form>
